@using Models;
@using InventoryManagementSystem.API.DTO;

<div class="mt-5 flex justify-center">
    <div class="flex flex-col gap-4">
        <div class="flex gap-4">
            <div class="flex flex-col gap-4">
                <div class="flex items-center justify-between gap-4">
                    <div>
                        <p class="text-lg">Inventory System</p>
                    </div>
                    <div>
                        <button class="bg-[#0a0a0a] rounded p-2 text-sm font-medium text-white hover:cursor-pointer" @onclick="AddProductAction">Add Product</button>
                    </div>
                </div>
                <InventoryManagementSystem.Web.Components.Product.Product 
                    EditSelectedProduct="EditSelectedProduct" 
                    DeleteSelectedProduct="DeleteSelectedProduct"
                    Products="Products" />
            </div>
            <div class="flex flex-col gap-4">
                <InventoryManagementSystem.Web.Components.Product.Latest Products="Products " />
            </div>
        </div>
    </div>
</div>
@if (isAddProduct)
{
    <AddProduct IsOpen="@isAddProduct"
        Created="ProductCreated"
        IsOpenChanged="IsOpenChangedDialog" />
}

@if (isEditProduct)
{
    <EditProduct IsOpen="@isEditProduct"
        IsOpenChanged="IsOpenEditChangedDialog"
        Updated="ProductUpdated"
        ProductId="@editProductId" />
}

@if (isDeleteProduct)
{
    <DeleteProduct 
        IsOpen="@isDeleteProduct"
        IsOpenChanged="IsOpenDeleteChangedDialog"
        Deleted="ProductDeleted"
        ProductId="@deleteProductId" />
}


@code {
    [Parameter]
    public IEnumerable<ProductViewModel> Products { get; set; }

    [Parameter]
    public EventCallback<bool> Created { get; set; }

    [Parameter]
    public EventCallback<bool> Updated { get; set; }

    [Parameter]
    public EventCallback<bool> Deleted { get; set; }

    public EventCallback<bool> IsOpenChanged { get; set; }

    public bool isAddProduct = false;
    public bool isEditProduct = false;
    public bool isDeleteProduct = false;

    private int editProductId;
    private int deleteProductId;

    public void AddProductAction()
    {
        isAddProduct = !isAddProduct;
        StateHasChanged();
    }

    public void IsOpenChangedDialog(bool isOpen)
    {
        isAddProduct = isOpen;
        StateHasChanged();
    }

    public void IsOpenEditChangedDialog(bool isOpen)
    {
        isEditProduct = isOpen;
        StateHasChanged();
    }

    public void IsOpenDeleteChangedDialog(bool isOpen)
    {
        isDeleteProduct = isOpen;
        StateHasChanged();
    }

    public void ProductCreated(bool isCreated)
    {
        if (isCreated)
        {
            Created.InvokeAsync(isCreated);
        }
    }

    public void EditSelectedProduct(ProductViewModel product)
    {
        if (product != null)
        {
            isEditProduct = !isEditProduct;
            editProductId = product.ProductId;
            StateHasChanged();
        }
    }
    //TODO: Make combine this with EditSelectedProduct into 1 function that does the conversion 
    public void DeleteSelectedProduct(ProductViewModel product)
    {
        if (product != null)
        {
            isDeleteProduct = !isDeleteProduct;
            deleteProductId = product.ProductId;
            StateHasChanged();
        }
    }

    public void ProductUpdated(bool isUpdated)
    {
        if (isUpdated)
        {
            Updated.InvokeAsync(isUpdated);
        }
    }

    public void ProductDeleted(bool isDeleted)
    {
        if (isDeleted)
        {
            Deleted.InvokeAsync(isDeleted);
        }
    }
}

